.root__lead {
  max-width: calc(100% - 100px * 2);
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .root__lead {
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1024px) {
  .root__lead {
    max-width: 100%;
  }
}
