.section {
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .section {
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .section {
    margin: 64px auto 0;
  }
}
